@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);
.container,
.container img {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--tp-text-body);
  font-family: Raleway, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat, sans-serif;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

.txt-cntr {
  text-align: center;
}

.txt-end {
  text-align: end;
}

.txt-Captilize {
  text-transform: capitalize;
}

.aln-cntr {
  align-self: center;
}

.font-800 {
  font-weight: 800;
}

.blk,
.dsplydesktop,
.prBlock {
  display: block;
}

.dsplyMbl {
  display: none;
}

.grid-row,
.navbar-content,
.row {
  display: flex;
}

.aln-end {
  align-self: end;
}

.grid-row {
  flex-wrap: wrap;
}

.col-1 {
  flex: 8.33%;
}

.col-2 {
  flex: 16.66%;
}

.col-3 {
  flex: 25%;
}

.col-4 {
  flex: 33.33%;
}

.col-5 {
  flex: 41.66%;
}

.col-6 {
  flex: 50%;
}

.col-7 {
  flex: 58.33%;
}

.col-8 {
  flex: 66.66%;
}

.col-9 {
  flex: 75%;
}

.col-10 {
  flex: 83.33%;
}

.col-11 {
  flex: 91.66%;
}

.col-12 {
  flex: 100%;
}

.sectionMb {
  margin-bottom: 70px;
}

.ptb {
  padding: 60px 0;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-10 {
  margin-bottom: 10px;
}

.align-item-center {
  align-items: center;
}

ul {
  list-style: none;
}

.paraStyle p {
  font-size: 20px;
  margin-bottom: 20px;
  line-height: 1.8;
  font-weight: 500;
}

.paraStyle p:last-child {
  margin-bottom: 0;
}

.title-heading {
  font-family: Roboto, sans-serif;
}

.light {
  --text-primary: #000;
  --text-secondary: #fff;
  --bg-color-blue: #2b286b;
  --tp-text-body: #4d5574;
  --green-clr: #96ae00;
  --light-bg: #e9e9e95c;
  --border-dark-grey: 1px solid #e6eaf0;
}

main {
  background-color: var(--light-bg);
}

.top-bar p {
  font-size: 16px;
  color: var(--text-secondary);
}

.top-bar {
  padding: 12px 0;
  background-color: var(--bg-color-blue);
}

.nav-bg {
  border: var(--border-dark-grey);
  padding: 20px 0;
}

.navbar-links ul,
.other-options ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.other-options ul li {
  margin: 0 5px;
}

.navbar-links ul li a {
  color: var(--bg-color-blue);
  text-decoration: none;
  font-size: 18px;
  margin: 0 15px;
  font-weight: 500;
}

.navbar-content {
  justify-content: space-between;
  align-items: center;
}

.hero-section {
  background-color: var(--text-secondary);
}

.hero-content h2 {
  font-size: 60px;
  color: var(--bg-color-blue);
  line-height: 1.3;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 20px;
  color: var(--tp-text-body);
  line-height: 1.5;
  margin-bottom: 25px;
}

.shop-btn a {
  font-weight: 600;
  border-radius: 10px;
  display: block;
  font-size: 16px;
  text-transform: uppercase;
  padding: 16px 50px;
  background-color: var(--green-clr);
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
  color: var(--text-secondary);
  text-decoration: none;
}

.category-style img {
  max-width: 100px;
  border-radius: 50%;
  margin-bottom: 8px;
}

.category-style h5 {
  color: var(--green-clr);
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.category-style p {
  color: var(--tp-text-body);
  font-size: 17px;
  font-weight: 500;
}

.category-style {
  box-shadow: 0 0 5px #ddd;
  padding: 20px;
  border-radius: 8px;
  background: var(--text-secondary);
  margin: 20px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.08) 0 4px 12px;
  border-bottom: 3px solid var(--green-clr);
}

.heaing-box h3 {
  font-size: 42px;
  color: var(--bg-color-blue);
  margin-bottom: 30px;
}

.heaing-box p {
  font-size: 16px;
  color: var(--green-clr);
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 600;
}
